body {
    font-family: 'Open Sans', sans-serif;
}

.landing-badge {
    max-width: 154px;
    margin-right: 1.5rem;
    margin-bottom: .5rem;

}


main {
    margin-top: 4rem;
}



@supports (height:40vw) {

    .landing-video {
        max-width: 100%;
        height: 70vw;
    }


}
@supports not (height:40vw) {

    .landing-video {
        max-width: 100%;
        height: 20rem;
    }


}
